<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SPRING-SERVER-MAIN" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="dev" />
    <module name="passql.PQL-Web.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.passql.web.PassqlApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>